In [6]:
import pandas as pd
import numpy as np
import pprint

In [2]:
#Importing CSV files
#important DFs to use:
agroFood_df = pd.read_csv('Resources/Agrofood_co2_emission.csv')
cc_Impact_Agri_df = pd.read_csv('Resources/climate_change_impact_on_agriculture_2024.csv')
co2_Country_df = pd.read_csv('Resources/co2_emissions_kt_by_country.csv')
owid_co2_c_df = pd.read_csv('Resources/owid-co2-data.csv')
pesticide_use_df = pd.read_csv('Resources/pesticide-use-tonnes.csv')


#unimportant for now
infant_Mortality = pd.read_csv('Resources/infant-mortality-rates.csv')
life_expectancy_df = pd.read_csv('Resources/life expectancy.csv')
life_expectancy_birth_df = pd.read_csv('Resources/life-expectancy-hmd-unwpp.csv')
child_mort_v_hExpend = pd.read_csv('Resources/HealthcareSpendingData/child-mortality-vs-health-expenditure.csv')
hInsure_US_df = pd.read_csv('Resources/HealthcareSpendingData/health-insurance-coverage-in-the-us.csv')
health_protection_coverage_df = pd.read_csv('Resources/HealthcareSpendingData/health-protection-coverage.csv')
healthcare_expend_vGDP_df = pd.read_csv('Resources/HealthcareSpendingData/healthcare-expenditure-vs-gdp.csv')
healthcare_hypoVSactu_spend_df = pd.read_csv('Resources/HealthcareSpendingData/how-much-we-think-we-spend-on-healthcare-vs-how-much-we-actually-do.csv')
life_expectancy_v_health_expend_df = pd.read_csv('Resources/HealthcareSpendingData/life-expectancy-vs-health-expenditure.csv')
US_people_no_health_df = pd.read_csv('Resources/HealthcareSpendingData/percentage-of-persons-without-health-insurance-coverage-us.csv')
public_health_expend_GDPdf = pd.read_csv('Resources/HealthcareSpendingData/public-health-expenditure-share-gdp.csv')
public_health_insur_cover_df = pd.read_csv('Resources/HealthcareSpendingData/public-health-insurance-coverage.csv')
private_expend_health_df = pd.read_csv('Resources/HealthcareSpendingData/share-of-out-of-pocket-expenditure-on-healthcare.csv')
Private_expend_GDPdf = pd.read_csv('Resources/HealthcareSpendingData/share-of-out-of-pocket-expenditure-vs-gdp-per-capita.csv')
tax_public_health_df = pd.read_csv('Resources/HealthcareSpendingData/tax-revenue-per-capita-and-public-health-spending-per-capita-in-developing-countries-in.csv')
total_health_gdp_df = pd.read_csv('Resources/HealthcareSpendingData/total-healthcare-expenditure-gdp.csv')


#possibly useful
Country_population_df = pd.read_csv('Resources/population.csv')
world_data_df = pd.read_csv('Resources/world-data-2023.csv')


# df = pd.read_csv('Resources/life-expectancy-vs-healthcare-expenditure.csv')

In [ ]:
#Import JSON files
owid_co2_df = pd.read_json('Resources/owid-co2-data.json')
owid_co2_df.head()

In [3]:

agroFood_df.head()

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,NaN,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,NaN,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,NaN,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,NaN,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,NaN,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

In [18]:
# Cell for exploring data based on its features
# Code for finding all unique countries in dataset
countries = agroFood_df['Area'].unique()
countries

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands (Kingdom of the)',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [25]:
# Inspecting data for any NaN values.
# Number of rows with at least one NaN
num_rows_with_nan = agroFood_df.isna().any(axis=1).sum()
print(f"Number of rows with at least one NaN value: {num_rows_with_nan}")

# Number of rows where all values are NaN
num_rows_all_nan = agroFood_df.isna().all(axis=1).sum()
print(f"Number of rows where all values are NaN: {num_rows_all_nan}")

# Number of NaN values per row
nan_counts_per_row = agroFood_df.isna().sum(axis=1)
print("NaN counts per row:")
print(nan_counts_per_row)

# Number of NaN values per column
nan_counts_per_column = agroFood_df.isna().sum()
print("NaN counts per column:")
print(nan_counts_per_column)

Number of rows with at least one NaN value: 2419
Number of rows where all values are NaN: 0
NaN counts per row:
0       1
1       1
2       1
3       1
4       1
       ..
6960    0
6961    0
6962    0
6963    0
6964    0
Length: 6965, dtype: int64
NaN counts per column:
Area                                  0
Year                                  0
Savanna fires                        31
Forest fires                         93
Crop Residues                      1389
Rice Cultivation                      0
Drained organic soils (CO2)           0
Pesticides Manufacturing              0
Food Transport                        0
Forestland                          493
Net Forest conversion               493
Food Household Consumption          473
Food Retail                           0
On-farm Electricity Use               0
Food Packaging                        0
Agrifood Systems Waste Disposal       0
Food Processing                       0
Fertilizers Manufacturing             0
IPPU                                743
Manure applied to Soils             928
Manure left on Pasture                0
Manure Management                   928
Fires in organic soils                0
Fires in humid tropical forests     155
On-farm energy use                  956
Rural population                      0
Urban population                      0
Total Population - Male               0
Total Population - Female             0
total_emission                        0
Average Temperature °C                0
dtype: int64

In [27]:
# Cleaning up Data removing columns that are not useful for our purposes.
AgroFood_drops_df = agroFood_df.drop(columns = ["Fires in humid tropical forests"], inplace = False);

#Running NaN check against AgroFood_drops for status update.
num_rows_with_nan = AgroFood_drops_df.isna().any(axis=1).sum()
print(f"Number of rows with at least one NaN value: {num_rows_with_nan}")

# Number of rows where all values are NaN
num_rows_all_nan = AgroFood_drops_df.isna().all(axis=1).sum()
print(f"Number of rows where all values are NaN: {num_rows_all_nan}")

# Number of NaN values per row
nan_counts_per_row = AgroFood_drops_df.isna().sum(axis=1)
print("NaN counts per row:")
print(nan_counts_per_row)

# Number of NaN values per column
nan_counts_per_column = AgroFood_drops_df.isna().sum()
print("NaN counts per column:")
print(nan_counts_per_column)

Number of rows with at least one NaN value: 2419
Number of rows where all values are NaN: 0
NaN counts per row:
0       1
1       1
2       1
3       1
4       1
       ..
6960    0
6961    0
6962    0
6963    0
6964    0
Length: 6965, dtype: int64
NaN counts per column:
Area                                  0
Year                                  0
Savanna fires                        31
Forest fires                         93
Crop Residues                      1389
Rice Cultivation                      0
Drained organic soils (CO2)           0
Pesticides Manufacturing              0
Food Transport                        0
Forestland                          493
Net Forest conversion               493
Food Household Consumption          473
Food Retail                           0
On-farm Electricity Use               0
Food Packaging                        0
Agrifood Systems Waste Disposal       0
Food Processing                       0
Fertilizers Manufacturing             0
IPPU                                743
Manure applied to Soils             928
Manure left on Pasture                0
Manure Management                   928
Fires in organic soils                0
On-farm energy use                  956
Rural population                      0
Urban population                      0
Total Population - Male               0
Total Population - Female             0
total_emission                        0
Average Temperature °C                0
dtype: int64

In [31]:
# Ease of use, checking data in the United States hoping it has the least amount of NaN
US_AgroF_df = agroFood_df[agroFood_df['Area'] == "United States of America"]

Number of rows with at least one NaN value: 0
Number of rows where all values are NaN: 0
NaN counts per row:
6591    0
6592    0
6593    0
6594    0
6595    0
6596    0
6597    0
6598    0
6599    0
6600    0
6601    0
6602    0
6603    0
6604    0
6605    0
6606    0
6607    0
6608    0
6609    0
6610    0
6611    0
6612    0
6613    0
6614    0
6615    0
6616    0
6617    0
6618    0
6619    0
6620    0
6621    0
dtype: int64
NaN counts per column:
Area                               0
Year                               0
Savanna fires                      0
Forest fires                       0
Crop Residues                      0
Rice Cultivation                   0
Drained organic soils (CO2)        0
Pesticides Manufacturing           0
Food Transport                     0
Forestland                         0
Net Forest conversion              0
Food Household Consumption         0
Food Retail                        0
On-farm Electricity Use            0
Food Packaging                     0
Agrifood Systems Waste Disposal    0
Food Processing                    0
Fertilizers Manufacturing          0
IPPU                               0
Manure applied to Soils            0
Manure left on Pasture             0
Manure Management                  0
Fires in organic soils             0
Fires in humid tropical forests    0
On-farm energy use                 0
Rural population                   0
Urban population                   0
Total Population - Male            0
Total Population - Female          0
total_emission                     0
Average Temperature °C             0
dtype: int64

In [14]:
operating_df = owid_co2_c_df[owid_co2_c_df["year"] > 1950];
operating_df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
101,Afghanistan,1951,AFG,7571542.0,9.692280e+09,0.0,0.0,0.092,0.007,8.696,...,NaN,0.125,0.0,0.0,0.001,0.0,NaN,NaN,NaN,NaN
102,Afghanistan,1952,AFG,7667534.0,1.001733e+10,0.0,0.0,0.092,0.000,0.000,...,NaN,0.125,0.0,0.0,0.001,0.0,NaN,NaN,NaN,NaN
103,Afghanistan,1953,AFG,7764549.0,1.063052e+10,0.0,0.0,0.106,0.015,16.000,...,NaN,0.125,0.0,0.0,0.001,0.0,NaN,NaN,NaN,NaN
104,Afghanistan,1954,AFG,7864289.0,1.086636e+10,0.0,0.0,0.106,0.000,0.000,...,NaN,0.125,0.0,0.0,0.001,0.0,NaN,NaN,NaN,NaN
105,Afghanistan,1955,AFG,7971933.0,1.107819e+10,0.0,0.0,0.154,0.048,44.828,...,NaN,0.125,0.0,0.0,0.001,0.0,NaN,NaN,NaN,NaN

In [40]:
cc_Impact_Agri_df

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022,France,Nouvelle-Aquitaine,Cotton,30.48,685.93,17.64,3.033,9,27.56,41.96,10.95,43.41,No Adaptation,1483.06
9996,1999,Australia,Queensland,Soybeans,9.53,2560.38,10.68,2.560,4,77.02,5.45,82.32,59.39,No Adaptation,829.61
9997,2000,Argentina,Patagonia,Coffee,31.92,357.76,26.01,1.161,10,78.53,11.94,26.00,41.46,Water Management,155.99
9998,1996,Brazil,Southeast,Soybeans,13.95,1549.52,17.31,3.348,2,42.65,44.71,25.07,75.10,Crop Rotation,1613.90
9999,2015,China,South,Corn,11.78,1676.25,5.34,3.710,5,46.41,48.28,98.27,59.38,Water Management,453.14